{% extends 'shared/_MainLayout.html' %}

{% block content %}
<div class="container">
    <section id="form">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <p>لطفا ایمیل خود را واردکنید،تابرای شما ایمیل بازیابی ارسال شود.</p>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}