
<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'eshop_accounts:user' %}" class="btn btn-link">پنل کاربری</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'eshop_accounts:edit' %}" class="btn btn-link">ویرایش اطلاعات</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'eshop_accounts:logout' %}" class="btn btn-link">خروج</a>
            </li>
        </ul>
    </div>
    
    



</div>

