<h2>دسته بندی محصولات</h2>
<div class="panel-group category-products" id="accordian">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><a href="{% url 'products:product-list' %}">همه</a></h3>
        </div>
    </div>
    {% for category in categories %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href= "{% url 'products:product-cat' Category_title=category.title %}">{{ category.title }}</a></h4>
            </div>
        </div>
    {% endfor %}
</div>